.transactions-header {
  color: #2c3e50;
  margin-bottom: 2rem;
  background-color: white;
  border: 2px solid #ccc;
  padding: 10px;
  font-weight: bold;
  margin: 0;
}

.transactions-header h1 {
  font-size: medium;
}

.account-amount {
  font-weight: 900;
}

.transactions-main {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 185px); */
  /* padding: 22px 0 220px 0; */
  padding: 30px 60px;
  color: white;
}

.transactions-table {
  border-collapse: collapse;
}

.transaction-item {
  background-color: white;
  border: 2px solid #ccc;
  color: #2c3e50;
  height: 50px;
}

