.transaction-item {
  background-color: white;
  border: 2px solid #ccc;
  color: #2c3e50;
  height: 50px;
}

.transactions-table {
  border-collapse: collapse;
  font-weight: bold;
}

.transactions-table, .transactions-table td, .transactions-table th {
  border: none;
}